/*body {
    text-align: center;
  }

  nav {
    background-color: steelblue;
    padding: 10px;
  }

  a {
    color: white;
    margin: 40px;
  }

  h1 {
    color: steelblue;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }
*/

  #content {
    max-width:  1200px;
    margin: 0 auto;
  
  }
  
  nav a {
    text-align: center;
  }

  #hero-msg h1, #hero-msg h4 {
    text-align: center;
  }

  .button-box {
    text-align: center;
  }

  main section {
    text-align: center;
  }

  #background {
    height: 725px;
    background-color: #A67E55 ;
}

/*background Colors*/

body {
  background-color: #649CD4 
}
header {
  background-color:#A67E55 ;
}
nav a:hover {
  background-color: #649CD4;
}

nav a:hover {
  background-color: #649CD4 ;
}

.book, .join {
  background-color: #649CD4;
}

.book:hover, .join:hover {
  background-color: #649CD4;
}

.msg {
  background-color: #A67E55;
}

footer {
  background-color: #A67E55 ;
}

/* Foreground Colors*/
nav a {
  background-color: #A67E55 ;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #A67E55;
  text-decoration: underline;

}

.home-title {
  background-color: #A67E55;
}

h4 {
  background-color: #A67E55;
}

.book, .join {
  background-color: #A67E55;
  text-align: center;
  text-decoration: none;
}

.book:hover, .join:hover {
  background-color: #A67E55;
}

.msg h2 {
  background-color: #A67E55;
}

.msg p {
  background-color: #A67E55;
}

footer h3 {
  background-color: #A67E55;
  text-decoration: underline;
}

footer a {
  background-color: #A67E55;
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  background-color: #A67E55;
}

/* Widths */
 
.logo {
  width: 80px;
}

.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}