@media only screen and (max-width: 1080px) {
/* 
  header, footer {
    max-width: 1080px; 
    margin: auto;
    background-color: #0E67B4;
  } */

  section { 
   display: flex;
   flex-direction: row;
   text-align: center;
   background-color: #fff;
   font-size: 1.2rem;
   font-family: 'Domine';
  }
   
 }
.slideshow{
    display: flex;
    margin-left: .5em;
    margin-bottom: 1em;
   
    
    
  }
  .mySlides {display:none;
    max-width: 100%;
    height: 50%;
    box-shadow: 3px 3px 3px #03458C;
    margin: 2em;
    
  }

  .logo {
    /* display:block; */
    text-align: center;  
    /* max-width: 100%; */
    /* box-shadow: 3px 3px 3px #03458C; */
    /* margin: 0.5em; */
    background-color: #0E67B4 ;
  }

  nav ul.hide {
  display: flex;
   padding: 15px;
   margin-left: 25em;

  }

  nav ul li {
    display: inline-flex;
    margin-left: 35px;
    
}

  nav ul li a {
    display: flex;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: #0E67B4;
    border: solid #03458C 1px;
}

* {
  box-sizing: border-box;
}

nav button {
  display: flex;
  margin: 2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #006400;
}

h1 {
  display: flex;
  font-family: 'Domine';
  color: #0E67B4;
  padding: 5px;
  text-align: center;
  margin-left: 40px;

}


h2{
  display: flex;
  font-family: 'Domine';
  color: #0E67B4;
  padding: 5px;
  text-align: center;
  margin-left: 40px;
}

h3{
  display: grid;
  font-family: 'Domine';
  color: #0E67B4;
  padding: 5px;
  text-align: center;
  
}

p {
  display: grid;
  font-family: 'Domine';
  color: #0E67B4;
  font-size: 25px;
 
}

.footer-bar{
  display: flex;
  background-color:#0E67B4;
  margin-right: 40px;
  margin-left: 40px;
  box-shadow: 3px 3px 3px #03458C;
}

h2 {
  color: #fff;
  text-align: center;
  padding-left: 5px;
}

.footer-bar > img {
  display: flex;
  float: right;
  text-align: right;
  padding: 5px;


}

.footer-images > div {
  display: flex;
  margin-bottom: 50px;
  margin-right: 20px;
  float: right;
}



/* Footerbar */

footer {
  background-color: #0e67b4 ;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 3px #03458C;
}

footer h3 {
  background-color: #0e67b4;
  text-decoration: underline;
  color: #fff
}

footer a { 
  background-color: #0e67b4;
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  background-color: #0e67b4;
}

footer .social img {
  padding-top: 15px;
}


nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  background-color: #0e67b4 ;
  text-align: center;
  text-decoration: none;
  padding: 35px;
  color: #fff;
  box-shadow: 3px 3px 3px #03458C;
}

nav a:hover {
  background-color: #0e67b4;
  text-decoration: underline;

}

nav a {
  text-align: center;
}

nav {
  display: flex;
  margin-left: 28px
 
}

header {
  background-color: #0e67b4 ;
  /* display: grid; */
  /* grid-template-columns: 150px auto; */
  box-shadow: 3px 3px 3px #03458C;
}

/* services */

main .grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  /* background: #649cd4;  */
  padding: 1em;
  color: #fff;
  float: right;
  margin-right: -15px;
   
}

.grid div {
  border: solid #0e67b4;
  padding: 5px;
  margin: 0.5em;
}

.grid-services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  /* background: #649cd4;  */
  padding: 1em;
  color: #fff;
  
}

.grid-services > div > p {
  display:grid;
  text-align: center;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color:#0e67b4;
  font-size: .8rem;
}

form fieldset {
  margin: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.5rem;
}


form input.submitBtn {
    border: none;
    background-color:#0e67b4;;
    color: white;
    max-width: 13rem;
    margin-top: 10px;
     width: 96%;
  
    box-shadow: 3px 3px 3px #03458c;
}



main .grid-contact{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 2px;
  /* background: #649cd4;  */
  padding: 1em;
  color: #fff;
  
}

main .grid-image{
  float:right;
  grid-column-start: 2;
  text-align: center;
  padding-top: 91px;
}

.contactus {
  text-align: center;
}
 
form fieldset {
  margin: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: .5rem;
}
form legend {
  color: #0e67b4;
  margin: 0 1rem;
  padding: 0 .5rem;
} 
form label.top, form div{
  display: block;
  padding-top: 1rem;
  color: #0e67b4;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  margin-left: 12em;
  font-size: 1rem;
  border: solid 1px #fff;
  border-radius: 4px;
  padding: .75rem;
  color: #fff;
  width: 100%;
  max-width: 20rem;
  background-color: #0e67b4;
  
}

form label.sbs{
  display: block;
  padding: .75rem 0;
  color: #fff;
}



form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form label.top textarea {
  text-align:left;
  display: block;
  font-size: 1rem;
  border: solid 1px #fff;
  border-radius: 4px;
  padding: 5rem;
  color: #fff;
  width: 100%;
  max-width: 20rem;
  background-color: #092834;
  
}